.slide-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("/images/slide1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("/images/slide2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("/images/slide3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slide-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("/images/slide4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.heroBg {
  /* lighter versions of theme colors */
  background: linear-gradient(
    to right,
    color-mix(in srgb, var(--color-primary) 50%, white),
    color-mix(in srgb, var(--color-secondary) 40%, white),
    color-mix(in srgb, var(--color-secondary) 10%, white)
  );
}

.recycle {
  display: inline-block; /* so transform works nicely */
  animation: spin 10s linear infinite; /* adjust speed */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bin {
  display: inline-block;
  animation: zoomPulse 4s ease-in-out infinite;
}
@keyframes zoomPulse {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1); /* adjust zoom level */
  }
}

.custom-shape-divider-bottom-1758630055 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1758630055 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1758630055 .shape-fill {
    fill: #FFFFFF;
}